body {
    margin: 0;
    background: #BAE0D8;
    background: radial-gradient(circle farthest-corner at right center, #BAE0D8 0%, #FFFFFF 52%);
}

li {
    list-style-type: none;
}

ul {
    margin-left: 0;
    padding-left: 0;
  }
 
a {
    color: #000000;
    text-decoration: none
}  

* {
    font-weight: 500;
    font-family: 'Inter';
    box-sizing: border-box;
}

p {
    margin: 0px;
}

input {
    border: 0px;
    text-align: center;

}

.fons {
    margin-top: 40px;
}

.header_logo {
    margin-left: 100px;
}

.Login:hover {
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.header {
    display: flex;
    justify-content: space-between;
}

.content {
    justify-content: space-between;
    display: flex;
}

.background {
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 30px;
}

.a1 ul {

    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top:20px ;
}

.a2 li {
    position: relative;
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

.list_evemment {
    margin-left: 211px;
}

.header_menu  ul li a   {
    margin-top: 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin-left: 720px;
    line-height: 19px;
    color: #A6A6A6;
    margin-left: 30px;
}

.header_menu a:hover {
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.header_authorization {
    padding-right: 10px;
    margin-right: 81px;
}

.header_authorization a {
    display: inline;
    margin-left: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.Login {
    color: #A6A6A6;
}

.Sign_Up {
    font-style: normal;
    font-weight: 500;
    background: #54BD95;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;    
}


 
.info {
    margin-top: 133px;
    margin-left: 103px;
}


.info_h1 {
    width: 555px;
    height: 270px;

    top: 210px;   
}

.info_h1_p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 90px; 
    color: #191A15;
}

.info_text {
    width: 461px;
    height: 90px;

}

.info_text_p {
    font-family: 'Inter';
    font-style: normal;
    margin-left: -7px;

    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
}

.trial {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.trial.trial_view a {
    top: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #191A15;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.trial_view_1 {
    margin-left: 200px;
    position: absolute;
    display: flex;
}

.trial_view {
    margin-left: 22px;
    margin-top: 10px;  
}

.info_efect {
    margin: 24px 37px 44px -12px;
}

.trial_try {
    font-family: 'Inter';
    font-weight: 500;
    color: #ffffff;
    order: 1;
    flex-grow: 0;
    font-style: normal;
    font-weight: 500;
    padding: 20px 33px;
    font-size: 16px;
    color: #ffffff;
    line-height: 35px; 
    background: #54BD95;
    border-radius: 40px;
}

.page_conteiner {
    margin: 0px auto;
    max-width: 1440px;
    padding: 0px 33px;
}

.image_foto {
    z-index: 1;
}

.image_card {
    position: absolute;
    right:-110px;
    top: 290px;
    z-index: 2;  
}

.image{
    position: relative;
    width: 100%;
    margin-top: 33px;
    margin-right: 94px;
    top: 100px;
}

.image_foto {
    position: absolute;
    right: 1px;
}

.image_form {
    padding: 1px 17px 1px 18px;
    margin-right: 30px;
    border-radius: 10px;
    max-height: 78px;
    max-width: 262px;
    height: 100%;
    height: 100%;
    left: 35px;
    top: 35px;
    z-index: 3;  
    position: absolute;
    background-color:#ffffff;
    display: flex;
    justify-content: space-between;
}


.image_form_p {
    margin-left: -7px;

    display: block;
    align-self: center;
}

.image_form_Enter {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A9A7B6;
}

.image_form_4 {
    margin-top: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;    
}
.image_form_buttom {
    margin-left: 156px;
    margin-bottom: 20px;
    font-style: normal;
    align-self: center;
    position: absolute;
    font-weight: 500;
    background: #54BD95;
    padding: 5px 10px;
    border-radius: 40px;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;    
}

.image_form_buttom a {
    color: #FFFFFF;
}

.image_form_2 {
    top: 420px;
    left: 133px;
    z-index: 4;

    position: absolute;

}

.image_form_2_p_total  {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A9A7B6;
}
.image_form_2_p_245 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.image_form_2_style {
    width: 20px;
    height: 20px;
    margin: -35px auto auto 112px;
}

.image_efect {
    width: 20px;
    height: 20px;
    display: flex;
    padding: 180px 0 0 310px;
    position: relative;
    z-index: 5;
} 

.image_efect1 {
    left: 147px;
    top: 174px;
    z-index: 6;
    position: absolute;    
}

.image_efect2 {
    z-index: 7;
    margin-top: -37px;
    margin-left: 8px;
}

.image_efect_2 {
    height: 50px;
    width: 50px;
    display: flex;
    top: 28px;
    right: -25px;
    position: absolute;
    z-index: 8;
}

.image_efect_2_2 {
    margin: 15px 0 0 -42px;
}

.bottom_content {
    margin: 150px auto;
    display: flex;
    flex-direction: column;
}

.image_efect_2_3 {
    margin-top: 480px;
    position: absolute;
    margin-left: -75px;
}

.bottom_content_more {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    margin: 0 auto;
    text-align: center;   
    color: #191A15;
}

.bottom_content_old {
    display: flex; 
    margin-top: 61px;
}

.bottom_content_old svg {
    margin-left: 49px;
}

.footer_boss_How {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
    color: #191A15;
    max-width: 617px;
    max-height: 122px;
    width: 100%;
    height: 100%;    
}
.footer_boss_text {
    margin-top: 29px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #A6A6A6;
    max-width: 644px;
    max-height: 90px;
    width: 100%;
    height: 100%;
}

.polo{
    background: #F9F8FE;
    width: 100%;
    display:inline-block
}
.footer {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 60px;
    max-width: 1440px;
    max-height: 541px;
    width: 100%;
    height: 100%;
}


.footer_zvezda_1 p {
    margin-top: 15px;
}

.footer_zvezda_2 p {
    margin-top: 15px;
}

.footer_zvezda_1_1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #191A15;
}

.footer_zvezda_1_2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-top: 15px;
    color: #A6A6A6;
}

.footer_2 {
    margin-top: 70px;
    display: flex;
}

.footer_zvezda_2_1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #191A15;
}

.footer_zvezda_2 {
    margin-left: 80px;
}
.footer_left {

    margin-left: 130px;
}

.footer_1 {
    top: 1;
    width: 100%;
    max-width: 670px;
}

.footer_rigth {
    display: flex;
    margin-right: 124px;
    max-width: 509px;
    max-height: 411px;
    width: 100%;
    height:100% ;

    flex-direction: column;
    height: 100%;

}
.footer_2 {
    margin-top: 73px;
    max-width: 500px;
    width: 100%;
}

.footer_zvezda_2_2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    margin-top: 2px;
    line-height: 22px;
    color: #A6A6A6;
}

.footer_rigth_element_1 {
    display: flex;
    justify-content: space-between;
}
.footer_rigth_element_2 {
    display: flex;
    margin-top: 25px;
}

.footer_rigth_element_1_1 {
    position: relative;
}

.footer_rigth_element_1_2 {
    margin-top: 22px;
    margin-left: -53px;
    z-index: 6;
    position: absolute;
}
.footer_rigth_element_3_ikona {
    margin-left: 1px;
}


.footer_rigth_element_1_text {
    margin-right: 20px;
}

.footer_rigth_element_1_text_Pub {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #191A15;
    max-width: 145px;
    max-height: 34px;
    width: 100%;
    height:100% ;
    margin-top: 7px;
}

.footer_rigth_element_1_text_Plan {
    margin-top: 9px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #A6A6A6;
    max-width: 428px;
    max-height: 90px;
    width: 100%;
    height:100% ;
}

.footer_rigth_element_2_1 {
    position: relative;
    height: 80px;
}

.footer_rigth_element_2{
    position: relative;
}

.footer_rigth_element_2_2 {
    position: absolute;
    margin: 20px 0px 0 -54px;
}

.footer_rigth_element_2_text_Analyze {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #A6A6A6;
    max-width: 428px;
    max-height: 60px;
    height:100% ;
    width: 100%;
}

.footer_rigth_element_3 {
    margin-top: 40px;
    display: flex;
}

.footer_rigth_element_3_ikona_2 {
    position: absolute;
    margin: 20px 0px 0px -50px;   
}

.footer_rigth_element_3_text_E {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #191A15;
}

.footer_rigth_element_3_text_Q {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #A6A6A6;
    max-width: 428px;
    height:100% ;
    width: 100%;
    max-height: 60px;
    margin-top: 10px;
}

.new_content {
    margin-top: 135px;
}

.new_content_header {
    display: flex;
    justify-content: space-around;
}

.new_content_header_O {
    max-width: 331px;
    max-height: 122px;
    width: 100%;
    height:100% ;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
    color: #191A15;
    margin-left: 40px;
}

.new_content_header_we {
    max-width: 461px;
    max-height: 90px;   
    height:100% ;
    width: 100%;
    margin-top: 11px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #A6A6A6;
}

.new_content_header_we_div {
    max-width: 162px;
    max-height: 66px;
    width: 100%;
    height:100% ;
    margin-top: 46px;
    margin-right: 39px;
}

.new_content_header_get  {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    border-radius: 70px;
    padding: 25px 35px;
    background: #54BD95;
    margin-top: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}


.new_content_card {
    padding-left: 55px;
    padding-top: 70px;
    display: flex;
    justify-content: space-around;
}




.new_content_card_1_p1 {
    width: 282px;
    height: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    color: #191A15;
}

.kru {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #A6A6A6;
}
.new_content_card_2 {
    display: block;
}

.new_content_card_1 {
    margin-left: 20px;
}
.new_content_card_text1 {
    margin-top: 27px;
}

.new_content_card_3 {
    margin-right: 71px;
    margin-top: 2px;
}

.new_content_card_text2 {
    margin-top: 26px;

}


.kra {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    color: #191A15;
}

.new_content_card_2_p1 {
    width: 208px;
    height: 30px;
}

.new_content_card_2_p2 {
    max-width: 340px;
    max-height: 60px;
    height:100% ;
    width: 100%;
    margin-top: 20px;
}

.new_content_card_1_p2 {
    max-width: 340px;
    max-height: 60px;
    width: 100%;
    height:100% ;
    margin-top: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #A6A6A6;
}



.new_content_card_text3_p1 {
    padding-top:  25px;
}

.new_content_card_text {
    display: flex;
    position: relative;
    padding: 30px 0 0 50px;
}



.new_content_card_text3_p2 {
    max-width: 340px;
    max-height: 60px;
    height:100% ;
    width: 100%;
    margin-top: 20px;
}

.new_content_card_footer {
    padding-top: 130px;
    display: flex;
    justify-content: space-around;
}

.new_content_card_footer_bos {
    max-width: 429px;
    height:100% ;
    width: 100%;
    max-height: 122px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    color: #191A15;
}

.new_content_card_footer_left{
    display: block;
    margin-right: 82px;
}
.new_content_card_footer_bos_item p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #191A15;
}

.new_content_card_footer_bos_item_ikona {
    margin-top: 51px;
}

.new_content_card_footer_bos_item_ikona div {
    display: flex;
    margin-top: 30px;
}

.new_content_card_footer_bos_item_ikona div p {
    display: flex;
    margin-top: 5px;
    margin-left: 10px;
}

.new_content_card_footer_bos_item {
    display: grid;
    margin-left: 10px;
}

.new_content_card_footer_bos_ikona {
    display: grid;
}

.new_content_card_footer_prave_item_1 {
    margin-top: -505px;
    margin-left: -124px;
    position: absolute;
    z-index: 1;
}


.new_content_card_footer_prave_item_1_2 {
    z-index: 2;
    margin-top: -88px;
    margin-left: 25px;
    position: absolute;
}
.new_content_card_footer_prave_item_2 {
    margin-left: -64px;
    margin-top: -259px;
    position: absolute;
}

.new_content_card_footer_prave_item_3 {
    margin-top: -64px;
    margin-left: -110px;
    position: absolute;
}

.new_content_card_footer_prave_item_4 {
    margin-top: -418px;
    margin-left: 378px;
    position: absolute;
}

.new_content_podval {
    margin-top: 140px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.new_content_card_footer_prave_boss {
    position: relative;
}

.new_content_podval_Choose {
    max-width: 492px;
    width: 100%;
    margin-left: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 73px;
    text-align: center;
    color: #191A15;
} 

.new_content_podval_plan {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;    
    text-align: center;
    color: #A6A6A6;
    margin-top: 40px;
}


.new_content_podval_buttom {
    margin-top: 36px;
    display: flex;
    width: 100%;
    max-width: 340px;
    padding: 7PX 7PX 7px 7px;
    margin-left: 5px;
    justify-content: flex-start;
    background: #FFFFFF;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}  

.new_content_podval_buttom_a_1 {
    width: 50%;
    text-align: center;
padding: 20PX 0PX 20px 0px;
}



.new_content_podval_buttom_a_2 {
    color: white;
    width: 47%;
    padding: 18PX 1PX;
    text-align: center;
    background: #54BD95;
    border-radius: 10px;

}

.new_content_podval_buttom_forma {

    margin-top: 67px;
    justify-content: space-around;
    display: flex;
    width: 100%;
}

.new_content_podval_buttom_forma_3_line {
    max-width: 334px;
    min-height: 290px;
    height: 100%;
    background: #F9FAFB;
    border-radius: 10px;
    padding: 26px 16px 29px 11px;
    margin: 36px 0 0px 0;
}
.new_content_podval_buttom_forma_3_header {
    padding: 0 40px;
    margin-right: 15px;
    text-align: center;
   
}
.new_content_podval_buttom_forma_3_buttom {
    margin-top: 30px;
}

.new_content_podval_buttom_forma_3_buttom_a {
    font-family: 'Inter';
    font-weight: 500;
    color: #ffffff;
    order: 1;
    flex-grow: 0;
    font-style: normal;
    font-weight: 500;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 35px; 
    background: #85DAB9;
border-radius: 10px;
}





.new_content_podval_buttom_forma_1 {
    max-width: 374px;
    min-height: 550px;
    margin-left: 90px;
    margin-top: 21px;
    width: 100%;
    height: 100%;
    padding: 40px 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}


.new_content_podval_buttom_forma_1_line {
    max-width: 334px;
    max-height: 380px;
    height: 100%;
    width: 100%;
    background: #F9FAFB;
    border-radius: 10px;
    padding: 40px 0 25px 37px;
  
    margin: 10px 0px 0px -7px;

}

.new_content_podval_buttom_forma_1_line_item {
    display: block;
    margin-bottom: 5px;
    margin-top: 27px;
}

.new_content_podval_buttom_forma_1_line_i {
    display: flex;

    max-width: 100%;
    max-height: 100%; 
}

.new_content_podval_buttom_forma_1_line_ikona {
    display: grid;
}



.ferst:first-child  {
    margin-top: -20px;
}
.ferst2:first-child  {
    margin-top: -20px;
}



.new_content_podval_buttom_forma_1_line_ikona div {
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
}

.new_content_podval_buttom_forma_1_line_ikona div p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #191A15;
    margin-left: 10px;
}


.new_content_podval_buttom_forma_2_line_ikona {
    display: grid;
    margin-top: -10px;
}
.new_content_podval_buttom_forma_2_line_ikona div {
    display: flex;
    margin-top: 20px;
}

.new_content_podval_buttom_forma_2_line_ikona div p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #191A15;
    margin-left: 10px;
}




.new_content_podval_buttom_forma_3_line_ikona {
    display: grid;

}
.new_content_podval_buttom_forma_3_line_ikona div {
    display: flex;
    padding-top: 16px;
}

.new_content_podval_buttom_forma_3_line_ikona div p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #191A15;
    margin-left: 10px;
}

.ferst3:first-child  {
    margin-top: -20px;
}


.new_content_podval_buttom_forma_1_line_desc {
    font-family: 'Inter';
    font-style: normal;
    max-width: 334px;
    font-weight: 500;
    font-size: 18px; 
    margin-top: -26px;
    line-height: 30px;
    margin-left: 10px;
    color: #191A15;
    display: grid;
}

.new_content_podval_buttom_forma_1_line_desc p {
    margin-top: 22px;
}


.new_content_podval_buttom_forma_1_line_item_buutom {
   margin-top: 52px;
}

.new_content_podval_buttom_forma_1_line_item_buutom_a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    padding: 21px 66px; 
    color: #54BD95;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}   



.new_content_podval_buttom_forma_1_sub_title {
    margin-top: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #A6A6A6;
}
.new_content_podval_buttom_forma_1_header {
    text-align: center;
}

.new_content_podval_buttom_forma_1_sub_in {
    max-width: 100px;
    max-height:100px ;
    width: 100%;
    height: 100%;
    display: inline;
}

.new_content_podval_buttom_forma_1_int {
    margin-top: -4px;
    margin-left: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 30px;
    color: #191A15;
}

.new_content_podval_buttom_forma_1_sub_int {
    margin-top: 14px;
    margin-right: 36px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}

.new_content_podval_buttom_forma_1_title {
    margin-top: -5;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #191A15;
}

.new_content_podval_buttom_forma_2 {
    max-width: 374px;

    max-height: 680px;
    width: 100%;
    height: 100%;
    padding-top: 40px;
    background: #54BD95;
    border-radius: 20px;
}


.new_content_podval_buttom_forma_2_line {
    max-width: 334px;
    max-height: 380px;
    
    background: #F9FAFB;
    border-radius: 10px;
    padding: 23px 25px 25px 31px;
    margin: 14px 20px 38px 20px;
}

.new_content_podval_buttom_forma_2_line_item {
    display: block;
    margin-left: -4px;
    margin-bottom: 15px;
    margin-top: 40px;
}

.new_content_podval_buttom_forma_2_line_i {
    display: flex;
    max-width: 100%;
    margin-left: 10px;
    max-height: 100%; 
}

.new_content_podval_buttom_forma_2_line_desc p {
    margin-top: 22px;
}



.new_content_podval_buttom_forma_2_line_item_buutom {
    margin-top: 45px;
    margin-left: 8px;
}

.new_content_podval_buttom_forma_2_line_item_buutom_a {
    font-family: 'Inter';
    font-weight: 500;
    color: #ffffff;
    order: 1;
    flex-grow: 0;
    font-style: normal;
    font-weight: 500;
    padding: 23px 96px;
    font-size: 16px;
    color: #ffffff;
    line-height: 35px; 
    background: #54BD95;
    border-radius: 20px;
}    

.new_content_podval_buttom_forma_2_sub_title {
    margin-top: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
}
.new_content_podval_buttom_forma_2_header {
    text-align: center;
}


.new_content_podval_buttom_forma_2_int {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    margin-top: -3px;
    margin-left: 13px;
    font-size: 50px;
    line-height: 30px;
    color: #ffffff;
}

.new_content_podval_buttom_forma_2_sub_int {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 30px;
    margin-right: 39px;
    margin-top: 13px;
}

.new_content_podval_buttom_forma_2_title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #ffffff;
}



.new_content_podval_buttom_forma_2_buttom {
    background-color: #85DAB9;
    border-radius: 10px;
    padding: 5px 0px;
    max-width: 130px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    margin: 14px 0px 0px 122px;
}

.new_content_podval_buttom_forma_2_buttom_a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    color: #FFFFFF;
}
.new_content_podval_buttom_forma_3 {
    max-width: 384px;
    min-height: 600px;
    margin-right: 60px;
    margin-top: 21px;
    width: 100%;
    height: 100%;
    padding: 40px 20px;

    background: #ffffff;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.new_content_podval_buttom_forma_3_line_item {
    display: flex;
  flex-direction: column;

    margin-left: 27px;

}
.new_content_podval_buttom_forma_3_line_item div {
    margin-top: 5px;
}
.new_content_podval_buttom_forma_3_line_i {
    display: flex;
    max-width: 100%;
    max-height: 100%; 
    margin-bottom: 25px;

}

.new_content_podval_buttom_forma_3_line_item_buutom {
    width: 260px;
    height: 64px;
    margin-top: 30px;
    color: #000000 ;
    background-color: #ffffff;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    position: relative;
    z-index: 1;
}

.new_content_podval_buttom_forma_3_line_item_buutom_a {
    margin-left: 30%;
    position: absolute;
    padding-top: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #54BD95;
    z-index: 2;
}    

.new_content_podval_buttom_forma_3_sub_title {
    margin-top: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #A6A6A6;
}


.new_content_podval_buttom_forma_3_int {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 30px;
    color: #191A15;
}

.new_content_podval_buttom_forma_3_sub_in {
    max-width: 100px;
    max-height: 100px;
    width: 100%;
    height: 100%;
    display: inline;
    margin-bottom: -20px;
}

.new_content_podval_buttom_forma_3_sub_int {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}

.new_content_podval_buttom_forma_3_title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;

    line-height: 36px;
    text-align: center;
    color: #191A15;
}

footer {
    background: #161C28;
}

.podval {
    margin-top: 130px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.podval_desc_boss {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
    color: #FFFFFF;
    max-width: 444px;
    max-height: 122px;
}

.podval_desc_sub_boss_1 {
    max-width: 461px;
    max-height: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #A6A6A6;
    margin-top: 20px;
}


.podval_desc_sub_boss_2 {
    max-width: 461px;
    max-height: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    margin-top: 36px;
    margin-left: 5px;
    color: #A6A6A6;
}
.podval_desc_sub_boss_3 {
    max-width: 461px;
    max-height: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #A6A6A6;
        margin-top: 70px;
        margin-left: 6px;
}

.podval_foto {
    margin-top: 40px;
}

.one {
    border-radius: 100px; 

}
.two {
    border-radius: 100px;
    margin-left: 20px; 
}
.free {
    border-radius: 100px; 
    margin-left: 20px; 
}
.foo {
    border-radius: 100px; 
    margin-left: 20px; 
}
.faif {
    margin-left: 20px;
}
.podval_logo {
    margin-top: 40px;
    margin-left: 6px;
}


.podval_logo_sub_Biccas {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    margin-top: 23px;
    color: #A6A6A6;
}

.podval_logo_Biccas_form  {
    max-width: 401px;
    max-height: 54px;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #161C28;
    border: 2px solid #A6A6A6;
    border-radius: 70px;
    margin-top: 29px;
}

.podval_logo_sub_Biccas_buttom_div {
    margin-top: -53px;
    margin-left: 357px;

    max-width: 50px;
    max-height: 50px;
    width: 100%;
    height:100% ;
    position: absolute;
}

.podval_logo_sub_Biccas_buttom {

    position:absolute;
    z-index: 1;
}


.podval_logo_Biccas_form_str {
    margin: 10px;
    position:absolute;
    z-index: 2;
}

.podval_logo_Biccas {
    margin-top: 30px;
    margin-left: 100px;
}

.podval_logo_Biccas_text {
    font-family: 'Inter';
    font-style: normal;
    margin-top: 80px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
}

.podval_1 {
    padding-top: 115px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.podval_fomrma_logo {
    margin: 0 auto;
    box-sizing: border-box;
}

.podval_fomra_email {
    margin-top: 20px;
    height: 50px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 10px;
}

::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    padding-left: 20px;
    line-height: 30px;
    color: #A6A6A6;
}

.podval_logo_Biccas_form::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    padding-left: 15px;
    line-height: 30px;
    color: #A6A6A6;
}

.podval_fomra_email_2::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;

    line-height: 30px;
    color: #700000;
}

.podval_fomrma_left {

    display: flex;
    flex-direction: column;
}
.podval_fomra_email_text_1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    margin-top: 6px;
    margin-left: -5px;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.podval_fomra_email_text_form1 {
    margin-top: 10px;
    box-sizing: border-box;
}

.podval_fomra_email_text_form2 {
    margin-top: 23px;
    box-sizing: border-box;
}

.podval_fomra_email_text_2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    margin-top: -3px;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.podval_fomra_email_2 {
    width: 100%;
    height: 78px;
    margin-top: 20px;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
}
.podval_fomra_email_text_buttom {
    margin-top: 16px;
    box-sizing: border-box;
}


.podval_fomrma_bbutom {
    padding: 20px 1px;
    background: #54BD95;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    width: 100%;
    line-height: 19px;
    color: #FFFFFF;
}

.podval_fomrma_bbutom_div {
    margin-top: 10px;
    box-sizing: border-box;
}

.podval_fomrma_bbutom_p {
    font-family: 'Inter';
    font-style: normal;
    display: flex;
    flex-direction: row-reverse;

    font-weight: 100px;
    font-size: 14px;
    line-height: 17px;
    color: #A6A6A6;

}    

.podval_sub_style li {
    margin-top: 25px;
}

.podval_url {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-right: 117px;
    margin-top: 16px;

}

.podval_url li a {
    margin-top: 15px;
    display: grid;
} 
.podval_niz {
    margin-top: 130px;
    padding-bottom: 122px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.podval_sub_style a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;

    line-height: 18px;
    color: #A6A6A6;
    margin-left: 64px;
}

.podval_style a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    
    line-height: 22px;
    color: #FFFFFF;
} 



.podval_url_podpis {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    max-width: 352px;
    max-height: 30px;
    height: 100%;
    width: 100%;
    margin-top: 48px;
    margin-left: 350px;
}



input[type="text"] {
    font-size:20px;
    color: white;
    padding-left: 3px;
}
input[type="email"] {
    font-size:20px;
    color: rgb(0, 0, 0);
    padding: 0px;
}

.podval_fomrma {
    border-radius: 20px;
    background-color: #222938;
    padding: 40px 86px 56px;
    margin-top: 11px;
    margin-right: 49px;
    max-width: 612px;
    width: 100%;
    box-sizing: border-box;
}

.podval_sub_style_div {
    display: flex;
}

.podval_desc_ssetings {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    margin-left: 46px;
}

